@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  color-scheme: dark;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  width: 500px;
  height: 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 50px;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #34ec43;
  border-radius: 50px;
  background: linear-gradient(to right, 4a00e0, 8e2de2);
  animation: anim 4s;
}

@keyframes anim {
  0% {
    width: 8%;
  }
  20% {
    width: 5%;
  }
  50% {
    width: 25%;
  }
  60% {
    width: 35%;
  }
  100% {
    width: 100%;
  }
}

p {
  font-size: 5rem;
  font-family: "lobster", cursive;
  color: rgba(51, 51, 51);
  margin-bottom: 15px;
}
